body {
  	margin: 0;}


path {
  	fill: none;
  	stroke: #000;
  	stroke-linejoin: butt;
  	stroke-linecap: butt;}

.major_road { 
stroke: #CED6DB; 
	stroke-width: 5px;}
	
.path {
stroke: #CED6DB;
	stroke-width:1px;
}

.minor_road { 
	stroke: #CED6DB; 
	stroke-width: 2px }
	
.highway  { 
	stroke: #CED6DB; 
	stroke-width: 7px;
	border:10px solid red;
	 z-index:1000;
	 }
	 

	 
.water-body-shorelines {
	stroke:#000;
	stroke-width: 5px;
	 }

.riverbank {
		 stroke:#fff;
		 stroke-width:.5px;
		 opacity: 1;
		 z-index:100;
	 }

.ocean {
	fill: taupe;
	opacity:.15;
	stroke:0px;
	z-index:10;
}
	
.rail { stroke: #939795; }

.buildings path{ stroke: none; fill: #939795; }

info {
position: absolute;
bottom: 10px;
left: 10px;
}